{
    "directories": ["bin", "config", "src", "vendor"],
    "compression": "GZ",
    "stub": "phar-stub.php",
    "main": "bin/compatinfo-db",
    "metadata": "Bartlett\\CompatInfoDb\\ComposerScripts::getPharMetadata"
}
