{
    "alias": "compatinfo-db.phar",
    "directories": ["bin", "config", "data", "src", "vendor"],
    "compression": "GZ",
    "metadata": "Bartlett\\CompatInfoDb\\Infrastructure\\ManifestBuilder::toText"
}
