parameters:
    level: 6
    paths:
        - ../../src/
    excludePaths:
        - ../../src/Presentation/Console/Command/Debug/ContainerDebugCommand.php
    ignoreErrors:
        -
            identifier: missingType.generics
        # This PHPStan error occurs only with PHP 8.1 (that reached End-Of-Life, so forgot it)
        #-
        #    message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:scalarNode\(\)\.$#'
        #    identifier: method.notFound
        #    count: 1
        #    path: ../../src/Infrastructure/Framework/Symfony/DependencyInjection/Configuration.php
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
