parameters:
    level: 6
    paths:
        - ../../src/
    excludePaths:
        - ../../src/Presentation/Console/Command/Debug/ContainerDebugCommand.php
    ignoreErrors:
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
