parameters:
    level: 6
    paths:
        - ../../src/
    ignoreErrors:
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
