<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnRisky="false"
    stopOnSkipped="false"
    verbose="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    processIsolation="false"
>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Pdo Reference Test Suite">
            <directory prefix="" suffix="ExtensionTest.php">tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
